<mat-card>
  <form #changeForm="ngForm" (ngSubmit)="onSubmit(changeForm.value)">
    <mat-card-header>
      <mat-card-title>
        <h2>Change Password Form</h2>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <mat-form-field>
        <input matInput placeholder="Old Password" [type]="hidePassword ? 'password' : 'text'" name="oldPassword"
          ngModel required />
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="New Password" [type]="hidePassword ? 'password' : 'text'" name="newPassword"
          ngModel required />
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Confirm New Password" [type]="hidePassword ? 'password' : 'text'"
          name="confirmPassword" ngModel required />
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
        </mat-icon>
      </mat-form-field>
    </mat-card-content>

    <mat-error *ngIf="errorMessage">
      {{errorMessage}}
    </mat-error>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="!changeForm.form.valid">Submit
      </button>
    </mat-card-actions>

    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <mat-card-footer></mat-card-footer>

  </form>
</mat-card>
