<div class="home">
  <div class="background-image"></div>

  <div class="content">
    <h1>Welcome to GroupUp</h1>
    <p>Want to find something to do on the weekends?</p>
    <p>New to the city and looking for new friends?</p>
    <p>Have a project that needs a helping hand?</p>
    <p>Have a class you wanted to take but didn't want to do alone?</p>
    <p>Use GroupUp to discover events to do on that day off or for the weekends. Post a project to find that helping
      hand. Or post an adventure and meet people with similar interests. Find your group to collaborate, explore, and
      create something amazing while making new connections.</p>

  </div>

</div>
