table {
    width: 100%;
    text-align: left;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.member-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.member-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .member-row td {
    border-bottom-width: 0;
  }
  
  .member-detail {
    overflow: hidden;
    display: flex;
  }
  
  .member-description {
    padding: 16px;
  }
  
